/* hamburger.css - Stili base Hamburger */

.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 24px;
    height: 18px;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
  }
  
  .hamburger span {
    height: 3px;
    background-color: var(--accent-color);
    border-radius: 2px;
    display: block;
  }